<h1>Sorting</h1>

<p>This is an
  <b>Unfinished</b>
  part of the project but you can still see it sort.</p>
<input
  type='range'
  min='10'
  max='100'
  value='{{this.sliderValue}}'
  {{on 'input' this.onSlide}}
/>
<div class='bar-container'>
  {{#each this.barList as |bar|}}
    <Sorting::Bar
      @height={{get bar 'height'}}
      @width={{get bar 'width'}}
      @placed={{get bar 'placed'}}
    />
  {{/each}}
</div>
<button type='button' {{on 'click' this.generateList}}>
  Generate List
</button>
<button type='button' {{on 'click' this.sort}}>
  Sort!
</button>