<nav>
  <div class='nav-bar-headers'>
    <h1>
      Algolizer
      <sub>Path-finding</sub>
    </h1>

  </div>
  <div
    class='nav-bar-item'
    {{on 'mouseenter' this.showDropDown}}
    {{on 'mouseleave' this.hideDropDown}}
    id='algo'
  >
    <h4>Algorithms</h4>
    <p class='selected-option'>
      {{@algo}}
    </p>
    <div class='drop-down-list algo-drop-down'>
      <p class='drop-down-item' {{on 'click' (fn @updateAlgo 'BFS')}}>BFS
        (Breadth-first Search)</p>
      <p class='drop-down-item' {{on 'click' (fn @updateAlgo 'DFS')}}>DFS
        (Depth-first Search)</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn @updateAlgo 'Dijkstras')}}
      >Dijkstras</p>
      <p class='drop-down-item' {{on 'click' (fn @updateAlgo 'A*')}}>A*</p>
    </div>
  </div>

  <div
    class='nav-bar-item'
    {{on 'mouseenter' this.showDropDown}}
    {{on 'mouseleave' this.hideDropDown}}
    id='speed'
  >
    <h4>Set Speed</h4>
    <p class='selected-option'>
      {{@speed}}
    </p>
    <div class='drop-down-list speed-drop-down'>
      <p class='drop-down-item' {{on 'click' (fn @updateSpeed 'Fast')}}>Fast</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn @updateSpeed 'Medium')}}
      >Medium</p>
      <p class='drop-down-item' {{on 'click' (fn @updateSpeed 'Slow')}}>Slow</p>
    </div>
  </div>
  <div class='nav-bar-item' {{on 'click' @visualize}}>
    <h4>Visualize</h4>
  </div>
  <div class='nav-bar-item' {{on 'click' @clearPath}}>
    <h4>Clear Path</h4>
  </div>
  <div class='nav-bar-item' {{on 'click' @clearBoard}}>
    <h4>Clear Board</h4>
  </div>
</nav>