<nav>
  <div class='nav-bar-headers'>
    <h1>
      Algolizer
      <sub>Path-finding</sub>
    </h1>

  </div>
  <div
    class='nav-bar-item'
    {{on 'mouseenter' this.showDropDown}}
    {{on 'mouseleave' this.hideDropDown}}
    id='algo'
  >
    <h4>Algorithms</h4>
    <p class='selected-option'>
      {{@algo}}
    </p>
    <div class='drop-down-list algo-drop-down'>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectAlgorithm 'BFS')}}
      >BFS (Breadth-first Search)</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectAlgorithm 'DFS')}}
      >DFS (Depth-first Search)</p>
      {{!-- <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectAlgorithm 'Dijkstras')}}
      >Dijkstras</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectAlgorithm 'A*')}}
      >A*</p> --}}
    </div>
  </div>

  <div
    class='nav-bar-item'
    {{on 'mouseenter' this.showDropDown}}
    {{on 'mouseleave' this.hideDropDown}}
    id='speed'
  >
    <h4>Set Speed</h4>
    <p class='selected-option'>
      {{@speed}}
    </p>
    <div class='drop-down-list speed-drop-down'>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectSpeed 'Fast')}}
      >Fast</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectSpeed 'Medium')}}
      >Medium</p>
      <p
        class='drop-down-item'
        {{on 'click' (fn this.onSelectSpeed 'Slow')}}
      >Slow</p>
    </div>
  </div>
  <div class='nav-bar-item' {{on 'click' @visualize}}>
    <h4>Visualize</h4>
  </div>
  <div class='nav-bar-item' {{on 'click' @clearPath}}>
    <h4>Clear Path</h4>
  </div>
  <div class='nav-bar-item' {{on 'click' @clearBoard}}>
    <h4>Clear Board</h4>
  </div>
</nav>